@media only screen and (max-width: 720px) {

    body {
        width: 80%;
    }
    
    nav {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    section {
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu {
        position: absolute;
        left: 500px;
    }
    
    .ham {
        background-color: black;
        width: 100px;
        height: 15px;
        margin-bottom: 25px;
        display: block;
    }

    .ham-1 {
        margin-top: 50px;
        
    }
    .heading1 {
        font-size: 30px;
    }

    .image-section {
        width: 100%;
    }

   .image {
        width: 690px;
        height: 500px;
        display: block;

   }

   .margin-sect {
   }
}


