/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers {
    display: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* forward & Back buttons */
  .Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .Back, .forward {
      color: black;
      font-size: 50px;
  }
  
  /* Caption Info */
  .Info {
    color: #ebebeb;
    font-size: 100px;
    padding: 10px 14px;
    position: absolute;
    bottom: 30%;
    left: -2%;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    text-shadow: 3px 3px rgb(19, 19, 19);
  }
  
  .enable, .dots:hover {
    background-color: #b64300;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

  .img-width {
      height: 300px;
      width: 100%;
  }
